:root {
    --primary-color: #212121;
    --background-color: #FBCFE8;
    --font: sans-serif;
}
.time{
    display: flex;
    justify-content: center;
    
}

.timeline {
    margin: 20px auto;
    
    padding: 20px;
}
.card {
    position: relative;
    max-width: 400px;
    background: none;
    outline: none;
    border: none;
}
.card:nth-child(odd) {
    padding: 30px 0 30px 30px;
}
.card:nth-child(even) {
    padding: 30px 30px 30px 0;
}

.card::before {
    content: "";
    position: absolute;
    width: 50%;
    border: solid #DB2777;
}
.card:nth-child(odd)::before {
    left: 0px;
    top: -4.5px;
    bottom: -4.5px;
    border-width: 5px 0 5px 5px;
    border-radius: 50px 0 0 50px;
}
.card:nth-child(even)::before {
    right: 0;
    top: 0;
    bottom: 0;
    border-width: 5px 5px 5px 0;
    border-radius: 0 50px 50px 0;
}
.card:first-child::before {
    border-top: 0;
    border-top-left-radius: 0;
  }
 
.card:last-child:nth-child(odd)::before {
    border-bottom: 0;
    border-bottom-left-radius: 0;
  }
  
.card:last-child:nth-child(even)::before {
    border-bottom: 0;
    border-bottom-right-radius: 0;
  }

.info {
    display: flex;
    flex-direction: column;
    color: gray;
    border-radius: 10px;
    padding: 10px;
  }
 
.title {
    color: #DB2777;
    position: relative;
}
  
.title::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 999px;
    border: 3px solid #DB2777;
} 
.card:nth-child(even) > .info > .title {
    text-align: right;
}
.card:nth-child(odd) > .info > .title::before {
    left: -45px;
}

.card:nth-child(even) > .info > .title::before {
    right: -45px;
}

.head{
    margin-top: 15px;
    text-align: center;
    font-size: 4vw;
    color: #DB2777;
}


.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    height: 80vh;
    background-color: #FBCFE8;
    overflow-y: scroll;
    display: none; /* Initially hidden */
}
.popup::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
}
.popup h2 {
    font-family: 'Playfair Display', serif;
    font-size: 24px;
    margin-bottom: 15px;
    color: #333;
}

.popup p {
    font-size: 16px;
    color: #555;
}

.popup .close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    background-color: transparent;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

  